body {

  background-color: #82BDB7;
  color: #3D3E3C;
  font-family:'Courier New', Courier, monospace;
  text-align: center;
}

div {
  
  background-color: #eaf2df;
}

ol, ul {
  text-align: left;
}

h1 {
  font-size: 42px;
}

img {
  width: 300px;
  height: auto;
}